<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Moscow</string>
		<key>Speaker</key>
		<string>Russia</string>
		<key>Background</key>
		<string>Inspiration-01</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sankt-Peterburg</string>
		<key>Speaker</key>
		<string>Russia</string>
		<key>Background</key>
		<string>Inspiration-02</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Novosibirsk</string>
		<key>Speaker</key>
		<string>Russia</string>
		<key>Background</key>
		<string>Inspiration-03</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Samara</string>
		<key>Speaker</key>
		<string>Russia</string>
		<key>Background</key>
		<string>Inspiration-04</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Rostov-na-Donu</string>
		<key>Speaker</key>
		<string>Russia</string>
		<key>Background</key>
		<string>Inspiration-05</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Kazan</string>
		<key>Speaker</key>
		<string>Russia</string>
		<key>Background</key>
		<string>Inspiration-06</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Saratov</string>
		<key>Speaker</key>
		<string>Russia</string>
		<key>Background</key>
		<string>Inspiration-07</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Ekaterinburg</string>
		<key>Speaker</key>
		<string>Russia</string>
		<key>Background</key>
		<string>Inspiration-08</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Omsk</string>
		<key>Speaker</key>
		<string>Russia</string>
		<key>Background</key>
		<string>Inspiration-09</string>
	</dict>
</array>
</plist>
